// Firestore security rules will go here
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Add your Firestore rules here
    match /{document=**} {
      allow read, write: if false;
    }
  }
}